<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hijo-c">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <table>
      <thead>
        <tr>
          <th>Titulo 1</th>
          <th>Titulo 2</th>
          <th>Titulo 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Espacio 1</td>
          <td>Espacio 2</td>
          <td>Espacio 3</td>
        </tr>
        <tr>
          <td>Espacio 4</td>
          <td>Espacio 5</td>
          <td>Espacio 6</td>
        </tr>
        <tr>
          <td>Espacio 7</td>
          <td>Espacio 8</td>
          <td>Espacio 9</td>
        </tr>
      </tbody>
    </table>
  </template>

  <script>
    /**
     * `hijo-c`
     * este es un componente hijo del componente padre
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HijoC extends Polymer.Element {
      static get is() { return 'hijo-c'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'hijo-c'
          }
        };
      }
    }

    window.customElements.define(HijoC.is, HijoC);
  </script>
</dom-module>
